from flask import request, url_for

@main.route('/admin/login', methods=['GET', 'POST'])
def admin_login():
    # Откуда пришёл? Сохраним
    next_page = request.args.get('next') or url_for('main.index')

    if request.method == 'POST':
        if request.form['username'] == 'Vladimirovich' and request.form['password'] == 'Timur':
            session['admin_logged_in'] = True
            return redirect(next_page)
        flash('Неверный логин или пароль', 'error')
    
    return render_template('admin/login.html', next=next_page)